*{
   box-sizing: border-box;
}

header{
   width:100%;
   padding:3em 0px 3em 0px;
   background-image: url("../images/ice-cream-cones.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
body{
   font-family: 'Nunito', sans-serif;
   color: #fff;
   line-height: 1.5;
}
